body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	margin: 5rem;
}
.game-board{
  	display: flex;
 	flex-wrap: wrap;
}
.header{
	font-size: 2rem;
	font-family: "Permanent Marker", cursive;;
}
.tiles {
	display: grid;
    justify-content: center;
    align-items: center;
    margin: 50px;
	grid-template-columns: repeat(4, 100px);
	gap: 16px;
	box-sizing: border-box;
	transform: translate(-50% -50%);
}
.tile {
	height: 100px;
	background: #d4d3ce;
	cursor: pointer;
    border-radius: 5px ;
}
@media (max-width: 800px) {
	.header, .tiles {
	  flex: 100%;
	}
}
