body {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	margin: 5rem;
}
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-family: "Permanent Marker", cursive;;
}
.game-board{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tiles {
	display: grid;
    justify-content: center;
    align-items: center;
    margin: 2rem;
	grid-template-columns: repeat(4, 6rem);
	gap: 1rem;
	box-sizing: border-box;
}
.tile {
	height: 6rem;
	background: #d4d3ce;
	cursor: pointer;
    border-radius: 0.5rem ;
}
@media only screen and (max-width: 500px) {
	.tiles{
		grid-template-columns: repeat(4, 4rem);
	}
	.tile{
		height: 4rem;
	}
  }
