body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 5rem;
  overflow: hidden;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Dosis", sans-serif;
  gap: 1rem;
}

.tiles {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  grid-template-columns: repeat(4, 6rem);
  gap: 1rem;
  box-sizing: border-box;
}
.tile {
  height: 6rem;
  background: #999894;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: transform 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.tile:visited {
  transform: rotateY(180deg);
  transition: 0.3s;
}

#win-msg {
  display: none;
}
#you-win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  font-family: "Dosis", sans-serif;
}
.button {
  background-color: #0a9396;
  color: #ffffff;
  text-align: center;
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.button:hover {
  background-color: #105b5c;
}
@media only screen and (max-width: 500px) {
  .tiles {
    grid-template-columns: repeat(4, 4rem);
  }
  .tile {
    height: 4rem;
  }
  .header {
    font-size: 2.3rem;
  }
}
.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background: #0a9396;
  width: 6rem;
  height: 3rem;
  border-radius: 0.5rem;
  float: initial;
}
